{% assign author = site.authors[post.author] %}

<div class="col-lg-4 col-md-6 mb-30px card-group">
    <div class="card h-100">
        <div class="maxthumb">
            <a href="{{ post.url | absolute_url }}">
                {% if post.image %} <img class="img-fluid" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ post.image | absolute_url }}{% endif %}" alt="{{ post.title }}"> {% endif %}
            </a>
        </div>
        <div class="card-body">
            <h2 class="card-title"><a class="text-dark" href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
            <h4 class="card-text">{{ post.excerpt | strip_html | truncatewords:30 }}</h4>            
        </div>
        <div class="card-footer bg-white">
            <div class="wrapfooter">
                {% if post.author %}
                <span class="meta-footer-thumb"></span>                
                <span class="author-meta">
                <span class="post-name"><a target="_blank" href="{{ author.web }}">{{ author.display_name }}</a></span><br/>
                {% endif %}
                <span class="post-date">{{ post.date | date_to_string }}</span>
                <span class="read-length">- {{post.read-length}} min read</span>
                </span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- end post -->