---
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

.mainheading {
    @media screen and (max-width: 550px) {
        padding: 0rem 0rem;
    }
}

.mainheading span {
    font-style: italic;
}

.mainheading .lead {
    font-family: 'Roboto', sans-serif;
    @media screen and (max-width: 550px) {
        font-size: .9rem;
    }
}

.footnotes {
    font-size: .8rem;
}

.navbar {
    background-color: #FBFCFC !important;
}

.navbar-brand {
    font-family: 'Indie Flower', cursive;
    font-size: 2.2rem;
    @media screen and (max-width: 550px) {
        font-size: 1.2rem;
    }
}

.wrapfooter .read-length{
    font-style: italic;
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;
